{% extends "temp.html" %}
{% block content %}
<!--ABOUT US-->
<section id="about">
	<div class="row g-0 my-5 py-5 align px-5 cent">
		<div class="col-12 col-lg-4">
			<h1 class="headerGrad">
				<b>LIVE COVID-API FOR INDIA</b>
			</h1>
		</div>
		<div class="col-12 col-lg-6">
			API (Application Programming Interface) is a computing interface that interacts between multiple software.
			JSON (JavaScript Object Notation) is a lightweight format for storing and transporting data. It is used to
			send data from server to web.
			<a href="{{url_for('api')}}" style="text-decoration: none;">( Click to get API-LINK in JSON format )</a>
		</div>
	</div>

	<!-- Section Info -->

	<div class="row g-0 my-5 py-5 px-5" style="align-items: center;justify-content: space-evenly;">
		<h1 style="text-align: center;">Why Us?</h1>
		<div class="col-12 col-lg-3 py-5">
			<h3 style="text-align: center;">
				Full Trade Lifecycle
			</h3>
			<p style="text-align: left;">
				Our one-stop institutional trading infrastructure supports every step from order decision to best
				execution across multiple venues and, combined with our custody technology partners, seamless settlement
				and custody reconciliation.
			</p>
		</div>
		<div class="col-12 col-lg-3 py-5">
			<h3 style="text-align: center;">
				Flexible Platform Provision
			</h3>
			<p style="text-align: left;">
				We understand every institution has its own preferences in terms of look, feel, workflow and
				capabilities. With our solutions, institutions can either deploy with our core best-practice set up or
				customize it to meet their own unique needs.
			</p>
		</div>
		<div class="col-12 col-lg-3 py-5">
			<h3 style="text-align: center;">
				Limitless Integrations
			</h3>
			<p style="text-align: left;">
				Decide on which data providers to use or counterparties to trade with, implement your own workflow or
				trading logic and seamlessly embed our trading platform into your existing technology stack.
			</p>
		</div>
	</div>
</section>

<!--INFOGRAPHICS-->

<section id="info">

</section>

{% endblock %}