{% extends "head.html" %}
{% block content %}

<!--ABOUT US-->

<section id="about">
	<div class="row g-0 my-5 py-5 align px-5" style="align-items: center;justify-content: space-evenly;">
		<div class="col-12 col-sm-4">
			<h1 class="shadow-lg px-5 py-5">
				<b>LIVE COVID-API FOR INDIA</b>
			</h1>
		</div>
		<div class="col-12 col-sm-6">
			<p>API (Application Programming Interface) is a computing interface that interacts between multiple
				software.
				JSON (JavaScript Object Notation) is a lightweight format for storing and transporting data. It is used
				to
				send data from server to web.
			</p>
			<div class="">
				<form action="#" method="POST">
					<section id="dropdown">
						<select id="state" name="state">
						  <option disabled>Select the state ?</option>
						  {% for state in states %}
						  <option value="{{state}}">{{state}}</option>
						  {% endfor %}
						</select>
					  </section>
					<input type="submit" value="GET API" class="btn btn-danger bg-gradient"></input>
				</form>
			</div>

		</div>
	</div>
</section>
<!-- Section Info -->
<section id="covid">
	<div class="row g-0 my-5 py-5 px-5" style="align-items: center;justify-content: space-evenly;">
		<div class="col-12">
			<h1 class="shadow-lg container col-lg-6 px-3 py-3" style="text-align: center;">Why Us?</h1>
		</div>
		<div class="col-12 col-lg-3 py-5">
			<h3 style="text-align: center;">
				Up To Date Data
			</h3>
			<p style="text-align: left;">
				Our one-stop covid results update supports every state and union territories across India. Technology
				from order decision to best
				execution across multiple platforms and seamless access to APIs.
			</p>
		</div>
		<div class="col-12 col-lg-3 py-5">
			<h3 style="text-align: center;">
				Flexible API
			</h3>
			<p style="text-align: left;">
				We understand every person has its own preferences in terms of data they want to capture and integrate
				in their projects.
				With our solutions, projects can either deploy with our core best-practice set up or
				customize it to meet their own unique needs.
			</p>
		</div>
		<div class="col-12 col-lg-3 py-5">
			<h3 style="text-align: center;">
				Limitless Calls
			</h3>
			<p style="text-align: left;">
				Decide on which API providers to use or counterparties to compare with. We offer high-speed UNLIMITED
				API calls at exclusively no charge just for you.
			</p>
		</div>
	</div>
</section>

<!--INFOGRAPHICS-->

<section id="info">

</section>

{% endblock %}